@{
    ViewData["Title"] = "Submission Successful!";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <h4>Thank you for taking the time to submit a movie!</h4>
</div>